@import "../../../assets/styles/colors.scss";

.table-head > tr > th:first-child {
  border-bottom-left-radius: 25px !important;
  border-top-left-radius: 25px !important;
}
.table-head > tr > th:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.table-body > tr:hover {
  cursor: pointer;
  color: white !important;
  background-color: var(--parentOrange60) !important;
  border-radius: 20px;
}
.table-body > #tr > td:first-child {
  border-bottom-left-radius: 25px !important;
  border-top-left-radius: 25px !important;
}
.table-body > #tr > td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
