$white-color: #ffffff;
$primary-color: #799AEF;
$primary-color-60: #AFC2F5;
$primary-orange: #e28743;
$primary-orange-60: #eeb78e;
$primary-red:#FF3B59;
$primary-red-60: #FF3B591A;
$primary-green-60:#1DAF8E1A;
$primary-dark-green-60:#1DAF8E;
$primary-color-blue:#054562;





$main-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$main-box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$main-box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
